/*----------------------------------------------------------------------------------------- PC style --------------------------------------------------------------------------------------------*/
@media (width > 1024px){
    .footer{
        width: 100%;
        width: 1024px;
        font-size: 12px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .fLists{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .fList{
        list-style: none;
        padding: 0;
    }
    .fListItem{
        margin-bottom: 10px;
        color: #003580;
        cursor: pointer;
    }
}
/*----------------------------------------------------------------------------------------- Tablette style --------------------------------------------------------------------------------------------*/
@media (min-width: 800px ) and (max-width: 1024px){
    .footer{
        width: 100%;
        width: 700px;
        font-size: 12px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .fLists{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .fList{
        list-style: none;
        padding: 0;
    }
    .fListItem{
        margin-bottom: 10px;
        color: #003580;
        cursor: pointer;
    }
}
/*----------------------------------------------------------------------------------------- Pbone style --------------------------------------------------------------------------------------------*/
@media (width < 800px ){
    .footer{
        width: 100%;
        width: 300px;
        font-size: 12px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .fLists{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .fList{
        list-style: none;
        padding: 0;
    }
    .fListItem{
        margin-bottom: 10px;
        color: #003580;
        cursor: pointer;
    }
}